
body {
  background-color: #efebe9 ;
  /* opacity: 1;
  background-image: radial-gradient(#795548  1px, #efebe9  1px);
  background-size: 20px 20px; */
}
  #countries {
    /* font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%; */
    max-width: 100vw;
  }
  
  #countries td, #countries th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #countries tr:nth-child(even){background-color: #f1f1f1;}
  
  #countries tr:hover {background-color: #ddd;}
  /* #top {
    background-image: linear-gradient(to right, #01579B , #1976D2);
  } */
  #countries th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    /* background-color: rgba(54, 162, 235, 1); */
    color: white;
  }
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(223, 214, 214, 0.753);
  }
  
  /* #articles {
    background: url(https://source.unsplash.com/random);
    background-size: cover;
    background-position: center;
    min-height: 100%;
  } */
/* 
  #content {
    grid-area: content; 
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    width: 100vw;
  } */
  input {
    text-align: center;
    margin-left: 50%;
    /* margin-right: auto; */
    padding: 2em 5em;
  }

  #articles {
    margin: 1em 0em;
    padding: 1em 0em;
  }
  .headerQuery {
    display: inline;
  }

  /* #myInput {
    background-image: url('searchicon.png');
    background-position: 10px 15px;
    background-repeat: no-repeat;
    background-size: 16px;
    width: 70%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  } */
  
  #bar-chart {
    margin: 1em 0em;
    min-height: 50vh;
    padding: 0em 0em;
  }

  #doughnut-chart {
    margin: 1em 0em;
    padding: 0em 0em;
    min-height: 50vh;
  }


  
/* @media (prefers-color-scheme: dark) {
  body  {background:  rgb(75, 69, 69); color: rgb(255, 255, 255); }
  .container  {background:  rgb(75, 69, 69); color: rgb(245, 253, 253); }
  #navbar  {background:  rgb(75, 69, 69); color: rgb(255, 255, 255); }
  #bar-chart { background:  rgb(75, 69, 69); color: rgb(244, 255, 254); }
  div > p { background:  rgb(75, 69, 69); color: rgb(255, 255, 255); }
  li a { background:  rgb(75, 69, 69); color: rgb(255, 255, 255); }
}

@media (prefers-color-scheme: light) {
  body { background: rgb(255, 255, 255); color:  rgb(56, 56, 56); }
  .container { background: rgb(255, 255, 255); color:  rgb(56, 56, 56); }
  #navbar { background: rgb(255, 255, 255); color:  rgb(56, 56, 56); }
  #bar-chart { background: rgb(255, 255, 255); color:  rgb(56, 56, 56); }
  div > p { background: rgb(255, 255, 255); color:  rgb(56, 56, 56); }
  li a { background:  rgb(255, 255, 255); color: rgb(42, 43, 40); }
} */

/*
git commit -m "added news for countries"
git push heroku master     
*/