:root {
    --main-radius: 0px;
    --main-padding: 0px;
    --main-border: 5px solid #ffffff;
    --pink: #f50057;
    --box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
  }
  
  body {
    font-family: "Inter", sans-serif;
    background-color: #030303;
  }
  
  .container {
    display: grid;
    margin: 0 auto; 
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 2fr 1fr 0.5fr;
    grid-template-areas:
    "nav nav nav"
    "main main content1"
    "content2 content3 content4"
    "footer footer footer";
    grid-gap: 0.5rem;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 12px;
    color: #050505;
    text-align: center;
  }
  
  #navbar {
    /* border: var(--main-border);   */
    background: #ffffff;
    grid-area: nav; 
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    font-weight: bold;
    box-shadow: 0px 4px inset;
  }

  ul {
    list-style: none;
    background-color: rgb(255, 255, 255);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
  }

  li a {
    text-decoration: none;
    color: rgb(10, 10, 10);
    padding-right: 3em;
    position: relative;
    transition: all ease-in-out 250ms;
  }

  li a::after {
    content: "";
    position: absolute;
    display: block;
    height: 0.4em;
    width: 0%;
    background-color: var(--pink);
    bottom: -1em;
    transition: all ease-in-out 250ms;
  }

  li a:hover::after {
    width: 68%;
  }

  li a:hover {
    color: var(--pink);
  }

  li:first-child {
    margin-right: auto;
    margin-left: 3em;
  }

  img {
    margin: 0.6rem;
  }


  .card-container {
    /* Add shadows to create the "card" effect */
    margin: 0rem;
    transition: 0.3s;
    background-color: #ffffff;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  /* .container {
    padding: 2px 16px;
  } */
  
  main {
    position: relative;
    border: var(--main-border); 
    box-shadow: var(--box-shadow);
    background: white;
    grid-area: main;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  
  canvas {
    overflow: hidden;
    
  }

  #doughnut-chart {

  }

  #content1 {
    /* border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    border: var(--main-border);  */
    box-shadow: var(--box-shadow);
    grid-area: content1;
    background-color: #ffffff;
  }
   #content2 {
    /* border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    border: var(--main-border);  */
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.856);
    background-color: #ffffff;
    grid-area: content2;
   }
   #content3 {
    /* border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    border: var(--main-border);  */
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.856);
    background-color: #ffffff;
    grid-area: content3;
   }
   #content4 {
    /* border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    border: var(--main-border);  */
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.856);
    grid-area: content4;
    background-color: #ffffff;
  }
  
  footer {
    padding-top: var(--main-padding);
    /* border: var(--main-border);  */
    background: #ffffff;
    grid-area: footer;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
  }
  
  a {
    text-align: center;
    display: block;
    font-family: inherit;
    text-decoration: none;
    font-weight: bold;
    margin: 1rem;
  }
  
  @media only screen and (max-width: 550px) {
    .container {
      grid-template-columns: auto;
      grid-template-rows: 0.3fr 1fr 1.3fr 1fr 1fr 1fr 0.3fr;
      grid-template-areas:
        "nav"
        "content1"
        "main"
        "content2"
        "content3"
        "content4"
        "footer";
    }
  }
  